/* Font family redeclared */
* {
    margin: 0 0;
}

.merriweather-font {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared CSS styles portion */
main {
    max-width: 924px;
    margin: 0 auto;
}

main section {
    margin-bottom: 84px;
}

/* Banner Section sytles */
.new-year-banner {
    height: 420px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../resources/images/Banner\ Image.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    border-radius: 12px;


}

.new-year-container {
    width: 442px;
}

.new-year-title {
    font-size: 23px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-align: center;
}

.new-year-des {
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

/* advertisement section styles */
.adverstisements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ad-img {
    width: 560px;
}

.ad-offer {
    font-size: 60px;
    font-weight: bold;
    color: red;
    margin-bottom: 30px;
}

.ad-title {
    font-size: 16px;
    font-weight: 500;
    color: red;
    margin-bottom: 12px;
}

.ad-subtitle {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* midnight party sections styles */
.midnight-party {
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../resources/images/Vectorrr.png');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.party-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 88px;
    margin-right: 96px;
    gap: 28px;

}

.party-title {
    width: 450px;
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin-bottom: 16px;

}

.party-des {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 33px;
}

.join-party {
    font-size: 15px;
    font-weight: bold;
    margin-left: 22px;
}

.join-party a {
    text-decoration: none;
    color: white;
}

.party-img {
    width: 245px;
    height: 324px;


}

/*time schedule section  */

.schedule-section {
    height: 310px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.schedule {
    font-size: 22px;
    font-weight: 600;
    color: rgb(7, 2, 17);
    margin-bottom: 10px;
}

.schedule span {
    color: rgb(255, 0, 0);
}

.btn-div {
    text-align: center;
    margin-top: 33px;
}

.btn {
    padding: 12px 22px;
    background-color: rgb(255, 0, 0);
    text-align: center;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

/* best offer comming soon section styles */
.best-offer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.best-offer-container {
    width: 275px;
    /* margin-right: 49px; */
}

.best-title {
    font-size: 17px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-bottom: 12px;
}

.best-subtitle {
    font-size: 33px;
    font-weight: 900;
    color: rgb(7, 2, 17);
    margin-bottom: 16px;
}

.offer-des {
    font-size: 14px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}

.offer-image {
    width: 324px;
    height: 324px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 15px solid rgb(255, 0, 0);
    padding: 34px;
}

.offer-year {
    font-size: 33px;
    font-weight: 700;
    color: red;
    margin-bottom: 12px;
    margin-top: 78px;

}

.offer-time-container {
    width: 193px;
}

.offer-time-img {
    margin-top: 32px;
    width: 98px;
    height: 98px;
}

/* Holiday sales section */
.holiday-sales-section {
    text-align: center;
}

.sales-title {
    font-size: 16px;
    font-weight: 500;
    color: rgb(7, 2, 17);
    margin-bottom: 12px;
}

.sales-main-title {
    font-size: 50px;
    font-weight: 900;
    color: rgb(7, 2, 17);
    margin-bottom: 20px;

}

.sales-main-title span {
    color: red;
}

.sales-des {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 45px;
}

.gift-container {
    height: 463px;

    background-image: url('resources/images/Rectangle\ 2.png');
    background-size: auto 160px;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;


}

.gift {
    width: 557px;
    height: 463px;
    position: absolute;
    right: 408px;

}

.gift-1 {
    position: absolute;
    width: 213px;
    height: 213px;
    left: 688px;
    top: 53px;

}

/* Awesome portfolio designs */
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 33px;
}

.awesome-image {

    width: 297px;
    height: 315px;
    border-radius: 12px;
}

/* newsletter-section design */
.newsletter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.05);
}

.newsletter-container {
    width: 627px;
    margin-top: 56px;
}

#awesome-email {
    font-size: 13px;
    color: rgba(7, 2, 17, 0.3);
    font-weight: 400;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 21px;
    border-top-left-radius: 34px;
    border-bottom-left-radius: 34px;
    width: 313px;
    border: none;
}

#subscribe {
    border-radius: 0px 50px 50px 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    background: rgb(255, 0, 0);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding-left: 39px;
    padding-right: 39px;
    width: 152px;
    color: white;
    border: none;

}

.awesome-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
    margin-top: 33px;
}

/* footer sections styles */
.footer {
    background: rgb(7, 2, 17);
    padding: 84px 98px;

}

.first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 33px;
    padding-right: 94px;

}

.first-des {
    font-size: 17px;
    color: white;
    font-weight: 500;
}

.first-number {
    font-size: 17px;
    color: white;
    font-weight: 500;
    display: flex;
    gap: 5px;
    align-items: center;

}

.first-div {
    display: flex;
    flex-direction: column;

}

.second-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    padding: 33px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.second-part>img {
    width: 45px;
    height: 45px;
}

.third-part {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 500;
    color: white;
    padding-top: 35px;
}